<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.myhorseshow"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="11" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" 
            android:windowSoftInputMode="stateHidden">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_main" />
            
        <activity 
            android:name=".CreateAccountActivity"
            android:label="@string/title_activity_main" />
        
        <activity
            android:name=".AdminActivity"
            android:label="@string/title_activity_main" />
        
        <activity
            android:name=".InstructorActivity"
            android:label="@string/title_activity_main" />
        
        <activity
            android:name=".RiderActivity"
            android:label="@string/title_activity_main" />
        
        <activity
            android:name=".EventActivity"
            android:label="@string/title_activity_main" />
        
    </application>

</manifest>